# Outliers

## Z-Score Method

In [1]:
#import libraries

import pandas as pd
import numpy as np

In [2]:
#data
data = pd.DataFrame({ 'Age': [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 50] })

In [4]:
#find mean and stardard derviation

mean = np.mean(data['Age'])
std = np.std(data['Age'])

In [5]:
# Z-score method

data['Z-score'] = (data['Age'] - mean) / std

In [6]:
print(f'Data with the outliers:\n{data}')

Data with the outliers:
    Age   Z-score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628
11   50  3.037793

In [10]:
#outliers
print(f'outliers based on the z-score threshold: \n {data[data['Z-score'] > 3]}')

outliers based on the z-score threshold:
     Age   Z-score
11   50  3.037793

In [13]:
#remove outliers
data = data[data['Z-score'] <=3 ]
data

    Age   Z-score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628