# Feature Scaling

## Stardard Scaler

Standardization 
(Z-scoring)

In [1]:
#import libraries
import pandas as pd

In [23]:
data = {
    'Age': [25, 30, 35, 40, 45],
    'Height': [170, 180, 165, 178, 185],
    'Weight': [65, 80, 55, 70, 90]
}

# Convert the dictionary into DataFrame
data = pd.DataFrame(data)
data.head()

   Age  Height  Weight
0   25     170      65
1   30     180      80
2   35     165      55
3   40     178      70
4   45     185      90

In [20]:
#Import Standard Scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [21]:
# fit the data 
scaled_data = scaler.fit_transform(data)
scaled_data

array([[-1.41421356, -0.78079594, -0.57932412],
       [-0.70710678,  0.61348253,  0.66208471],
       [ 0.        , -1.47793517, -1.40693001],
       [ 0.70710678,  0.33462683, -0.16552118],
       [ 1.41421356,  1.31062176,  1.4896906 ]])

In [22]:
#covert array into Dataframe
scaled_data = pd.DataFrame(scaled_data, columns= data.columns)
scaled_data.head()

        Age    Height    Weight
0 -1.414214 -0.780796 -0.579324
1 -0.707107  0.613483  0.662085
2  0.000000 -1.477935 -1.406930
3  0.707107  0.334627 -0.165521
4  1.414214  1.310622  1.489691

## Min Max Scaler

In [36]:
#Import MinMax Scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [37]:
# fit the data 
scaled_data = scaler.fit_transform(data)
scaled_data

array([[0.        , 0.25      , 0.28571429],
       [0.25      , 0.75      , 0.71428571],
       [0.5       , 0.        , 0.        ],
       [0.75      , 0.65      , 0.42857143],
       [1.        , 1.        , 1.        ]])

In [38]:
#covert array into Dataframe
scaled_data = pd.DataFrame(scaled_data, columns= data.columns)
scaled_data.head()

    Age  Height    Weight
0  0.00    0.25  0.285714
1  0.25    0.75  0.714286
2  0.50    0.00  0.000000
3  0.75    0.65  0.428571
4  1.00    1.00  1.000000

## Max Absolute Scaler

In [39]:
#Import Max Absolute Scaler
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()

In [40]:
# fit the data 
scaled_data = scaler.fit_transform(data)
scaled_data

array([[0.55555556, 0.91891892, 0.72222222],
       [0.66666667, 0.97297297, 0.88888889],
       [0.77777778, 0.89189189, 0.61111111],
       [0.88888889, 0.96216216, 0.77777778],
       [1.        , 1.        , 1.        ]])

In [41]:
#covert array into Dataframe
scaled_data = pd.DataFrame(scaled_data, columns= data.columns)
scaled_data.head()

        Age    Height    Weight
0  0.555556  0.918919  0.722222
1  0.666667  0.972973  0.888889
2  0.777778  0.891892  0.611111
3  0.888889  0.962162  0.777778
4  1.000000  1.000000  1.000000

## Robust Scaler

In [32]:
data = {
    'Age': [25, 30, 35, 40, 45],
    'Height': [170, 180, 165, 178, 185],
    'Weight': [65, 80, 55, 70, 90]
}

# Convert the dictionary into DataFrame
data = pd.DataFrame(data)
data.head()

   Age  Height  Weight
0   25     170      65
1   30     180      80
2   35     165      55
3   40     178      70
4   45     185      90

In [33]:
#Import Max Absolute Scaler
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()

In [34]:
# fit the data 
scaled_data = scaler.fit_transform(data)
scaled_data

array([[-1.        , -0.8       , -0.33333333],
       [-0.5       ,  0.2       ,  0.66666667],
       [ 0.        , -1.3       , -1.        ],
       [ 0.5       ,  0.        ,  0.        ],
       [ 1.        ,  0.7       ,  1.33333333]])

In [35]:
#covert array into Dataframe
scaled_data = pd.DataFrame(scaled_data, columns= data.columns)
scaled_data.head()

   Age  Height    Weight
0 -1.0    -0.8 -0.333333
1 -0.5     0.2  0.666667
2  0.0    -1.3 -1.000000
3  0.5     0.0  0.000000
4  1.0     0.7  1.333333