# Feature Scaling

## Stardard Scaler

Standardization 
(Z-scoring)

In [1]:
#import libraries
import pandas as pd

In [12]:
data = {
    'Age': [25, 30, 35, 40, 45],
    'Height': [170, 180, 165, 178, 185],
    'Weight': [65, 80, 55, 70, 90]
}

# Convert the dictionary into DataFrame
data = pd.DataFrame(data)
data.head()

   Age  Height  Weight
0   25     170      65
1   30     180      80
2   35     165      55
3   40     178      70
4   45     185      90

In [9]:
#Import Standard Scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [10]:
# fit the data 
scaled_data = scaler.fit_transform(data)
scaled_data

array([[-1.41421356, -0.78079594, -0.57932412],
       [-0.70710678,  0.61348253,  0.66208471],
       [ 0.        , -1.47793517, -1.40693001],
       [ 0.70710678,  0.33462683, -0.16552118],
       [ 1.41421356,  1.31062176,  1.4896906 ]])

In [11]:
#covert array into Dataframe
scaled_data = pd.DataFrame(scaled_data, columns= data.columns)
scaled_data.head()

        Age    Height    Weight
0 -1.414214 -0.780796 -0.579324
1 -0.707107  0.613483  0.662085
2  0.000000 -1.477935 -1.406930
3  0.707107  0.334627 -0.165521
4  1.414214  1.310622  1.489691

## Min Max Scaler

In [13]:
#Import MinMax Scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()